.section {
  padding: 30px;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  height: 60px;
  background-color: #00246b;
  border-radius: 10px;
}

.form input {
  height: 40px;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  outline: none;
}

.form select {
  height: 40px;
  width: 300px;
  border: 1px solid black;
  padding: 5px;
}

.form button {
  color: white;
  width: 100px;
  height: 40px;
  font-size: large;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  margin: 20px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border: 0.5px solid blanchedalmond;
}

.itembuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 200px;
  padding: 5px 20px;
}

.itembuttons button {
  background-color: #00246b;
  width: 80px;
  height: 30px;
  color: white;
  border-radius: 5px;
}

.item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selecteditem {
  background-color: black;
  color: white;
  border-color: black;
}

.orderform {
  display: flex;
  flex-direction: row;
  height: 100px;
  gap: 30px;
  align-items: center;
}

.orderform input {
  width: 200px;
  height: 35px;
  padding: 5px;
}

.orderform button {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 500;
  font-size: large;
  border-radius: 10px;
}

.selecteditembuttons button {
  background-color: white;
  color: black;
  font-weight: 600;
}
